language: python

python:
  - 3.6

addons:
  postgresql: "9.6"

env:
  global:
    - PGUSER=postgres

install: pip install -r requirements.txt

script:
  - ./.ci/setup_db.sh
  - nosetests -v

after_success:
  - if: head_repo = opengisch/pum AND branch = master AND type = push AND tag IS present
  - ./.deploy/deploy_to_pypi.sh
