language: python

python:
  - 3.6

addons:
  postgresql: "9.6"

env:
  global:
    - PGUSER=postgres

install: pip install -r requirements.txt

script:
  - ./.ci/setup_db.sh
  - nosetests -v

after_success:
  if ( [[ "$TRAVIS_BRANCH" == "master" ]] || [[ -n "$TRAVIS_TAG" ]] ) && [[ "$TRAVIS_PULL_REQUEST" == "false" ]] && [[ "$TRAVIS_REPO_SLUG" == "opengisch/pum" ]]; then
    ./.deploy/deploy_to_pypi.sh
  fi
